In [2]:
import pandas as pd

In [3]:
df_roses = pd.read_csv('roses.csv')

In [4]:
df_roses.head()

,Unnamed: 0,title_en,title_ru,color,aroma,max_bush_height,min_bush_height,max_number_flawers,min_number_flawers,max_size_number,min_size_number,rain_resistance,powdery_mildew_resistance,black_spot_resistance,description,greenhouse,category,in_stock,slug
0,0,ABDIEL,Абдиэль,Розовый,Средний,120,100,5,3,12,10,средняя,средняя,средняя,Роза японской селекции...,NaN,Японские розы,True,abdiel
1,1,NaN,Аои,Коричневый,Слабый,100,80,10,5,6,5,сильная,сильная,средняя,Прекрасный сорт для но...,"Ken Osanai Япония, 2008",Японские розы,True,aoi
2,2,NaN,Вагулетта,Фиолетовый,Средний,90,70,5,3,12,10,сильная,средняя,слабая,Роза Vaguelette японск...,"Kawamoto Junko Япония, 2011",Японские розы,True,vaguletta
3,3,NaN,Вакана,Зеленый,Сильный,160,100,3,1,8,7,средняя,сильная,сильная,Сорт японской селекции...,"Кимура Япония, 2006",Японские розы,True,vakana
4,4,Daphne,Дафна,NaN,NaN,0,0,0,0,0,0,NaN,NaN,NaN,,NaN,Японские розы,True,dafna

In [6]:
df_url_roses = pd.DataFrame()

In [9]:
df_url_roses['category'] = df_roses['category']
df_url_roses['slug'] = df_roses['slug']
df_url_roses.head()

        category       slug
0  Японские розы     abdiel
1  Японские розы        aoi
2  Японские розы  vaguletta
3  Японские розы     vakana
4  Японские розы      dafna

In [10]:
new_names = [
    'yaponskie_rozy', 'pionovidnye_rozy', 'sadovye_rozy_premium_klassa',
    'miniatyurnie_cprei_rozi', 'pletictie_rozi', 'chaino_gibridnie_rozi',
    'angliyskie_srezochnye_rozy', 'floribunda_rozi', 'anglijskie_rozy', 'muskusnye_rozy',
    'shraby', 'pochvopokrovnie_rozi'
]

old_names = [
    'Японские розы', 'Пионовидные розы', 'Садовые розы премиум класса',
    'Миниатюрные розы', 'Плетистые розы', 'Чайно-гибридные розы',
    'Английские розы (срезочные)', 'Флорибунда (Полифлора) розы', 'Английские розы',
    'Мускусные розы', 'Шрабы', 'Почвопокровные розы'
]

df_url_roses['category'] = df_url_roses['category'].replace(old_names, new_names)
df_url_roses.head()

         category       slug
0  yaponskie_rozy     abdiel
1  yaponskie_rozy        aoi
2  yaponskie_rozy  vaguletta
3  yaponskie_rozy     vakana
4  yaponskie_rozy      dafna

In [12]:
df_url_roses['category'].unique()

array(['yaponskie_rozy', 'pionovidnye_rozy',
       'sadovye_rozy_premium_klassa', 'miniatyurnie_cprei_rozi',
       'pletictie_rozi', 'chaino_gibridnie_rozi',
       'angliyskie_srezochnye_rozy', 'floribunda_rozi', 'anglijskie_rozy',
       'muskusnye_rozy', 'shraby', 'pochvopokrovnie_rozi'], dtype=object)

In [15]:
df_url_images = pd.DataFrame()

In [16]:
df_url_images['combined'] = df_url_roses.apply(lambda row: f"{row['category']}/{row['slug']}", axis=1)

In [17]:
df_url_images.head()

                   combined
0     yaponskie_rozy/abdiel
1        yaponskie_rozy/aoi
2  yaponskie_rozy/vaguletta
3     yaponskie_rozy/vakana
4      yaponskie_rozy/dafna

In [19]:
df_url_images['combined'].to_csv('url_images_roses.txt', index=False, header=False)

In [22]:
df_rosesimages_model = pd.read_json('url_images_roses.json')

In [23]:
df_rosesimages_model.head()

                             image rose_id
0  image_roses/abdiel_image_1.jpeg  abdiel
1  image_roses/abdiel_image_2.jpeg  abdiel
2  image_roses/abdiel_image_3.jpeg  abdiel
3  image_roses/abdiel_image_4.jpeg  abdiel
4  image_roses/abdiel_image_5.jpeg  abdiel

In [27]:
df_rosesimages_model['image'] = df_rosesimages_model['image'].str.replace('image_roses/', '')

In [28]:
df_rosesimages_model['image'].head()

0    abdiel_image_1.jpeg
1    abdiel_image_2.jpeg
2    abdiel_image_3.jpeg
3    abdiel_image_4.jpeg
4    abdiel_image_5.jpeg
Name: image, dtype: object

In [29]:
df_rosesimages_model.to_csv('roses_images.csv', index=True)